<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Codes/SeleniumJavaDemo">
        <classes>
            <class name="FirstTC"></class>
            <class name="SecondTC"></class>
            <class name="SimpleTestNGTest"></class>
        </classes>
    </test>
</suite>